!!!
%html
  %head
    %title ge-topi
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/notice'
    = render 'layouts/header'
    #mein.uk-grid
      .uk-width-medium-1-4
        = render 'layouts/nav'
      .uk-width-medium-3-4
        = yield
    = render 'layouts/footer'